:root {
  --primary-color: rgb(83, 109, 254);
  --primary-color-light: #f3f8fb;
  --primary-color-lighter: #e2e8f0;
  --text: #4b5966;
}

@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/IBMPlexSans-Bold.ttf);
}

@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/IBMPlexSans-Light.ttf);
}

@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppinsMedium;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.body-container {
  width: 100%;
  height: 100%;
}
.congratulation-Container {
  height: 165px;
  width: 100%;
  box-shadow: -1px 0px 11px -4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  overflow: hidden;
  button {
    margin-top: 8px;
    background-color: var(--primary-color);
    color: white;
    font-size: 12px;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-family: PoppinsMedium;
    box-shadow: -1px 0px 11px -4px rgba(83, 109, 254, 0.5);
  }
  img {
    width: 320px;
  }
}
.CongratulationText {
  font-family: PoppinsMedium;
  font-size: 16px;
}

.bestSeller {
  font-size: 12px;
  color: #0000008b;
  font-family: poppinsMedium;
  margin-top: 3px;
}
.SalesPrice {
  font-size: 20px;
  color: var(--primary-color);
  font-family: PoppinsMedium;
  margin-top: 10px;
}
.statistics {
  width: 100%;
  box-shadow: -1px 0px 11px -4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}
.Stat-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Stats-Item {
  display: flex;
  width: 25%;
  align-items: center;
  gap: 15px;
}
.icons {
  color: var(--primary-color);
  background-color: rgba(83, 109, 254, 0.114);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.icons2 {
  color: #00809d;
  background-color: #00809d1e;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.icons3 {
  color: #ff3f33;
  background-color: #ff41331a;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.icons4 {
  color: #03a791;
  background-color: #03a7911b;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.StatisticsHead {
  font-family: PoppinsMedium;
  font-size: 14px;
}
.Stats-Amount {
  font-family: PoppinsMedium;
  font-size: 16px;
}
.Stat-name {
  font-family: PoppinsMedium;
  font-size: 11px;
  color: #0000008b;
}
.Section-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Profit-Container {
  height: 230px;
  width: 49%;
  box-shadow: -1px 0px 11px -4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  .profit-head {
    font-size: 16px;
    font-family: PoppinsMedium;
  }
  .profit-SecondContent {
    font-size: 12px;
    color: #0000008b;
    font-family: PoppinsMedium;
  }

  .Profit-Price {
    font-size: 19px;
    font-family: PoppinsMedium;
  }
  .Profit-Percentage {
    font-size: 11px;
    font-family: PoppinsMedium;
    color: #03a791;
  }
}
.Expenses-Container {
  height: 230px;
  width: 49%;
  box-shadow: -1px 0px 11px -4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  .Expenses-head {
    font-size: 16px;
    font-family: PoppinsMedium;
  }
  .Expenses-SecondContent {
    font-size: 12px;
    color: #0000008b;
    font-family: PoppinsMedium;
  }
  .Circle-Cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .Expenses-small-text {
    font-size: 11px;
    font-family: PoppinsMedium;
    color: #0000008b;
    width: 300px;
    text-align: center;
  }
}
.Earning-Reports {
  height: 480px;
  width: 49%;
  box-shadow: -1px 0px 11px -4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  .Earning-Reports-head {
    font-size: 16px;
    font-family: PoppinsMedium;
  }
  .Earning-Reports-SecondContent {
    font-size: 12px;
    color: #0000008b;
    font-family: PoppinsMedium;
  }
  .bar {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;
  }
  .bar:hover {
    background-color: #0000000b;
  }
  .Earning-Icons1 {
    background-color: rgba(128, 0, 128, 0.107);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .Earning-Icons2 {
    background-color: rgb(220 246 232);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .Earning-Icons3 {
    background-color: rgb(234 235 237);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .Profit {
    font-family: PoppinsMedium;
    font-size: 14px;
  }
  .Profit-price {
    font-family: PoppinsMedium;
    font-size: 12px;
    color: #787878;
  }
  .Earning-Price {
    font-size: 13px;
    font-family: poppinsMedium;
    color: #787878;
  }
  .Earning-Percentage {
    font-size: 13px;
    font-family: poppinsMedium;
    color: #c6c6c6;
  }
}
.Popular-Product {
  height: 480px;
  width: 49%;
  box-shadow: -1px 0px 11px -4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  overflow: hidden;
  .Popular-Product-head {
    font-size: 16px;
    font-family: PoppinsMedium;
  }
  .Popular-Product-SecondContent {
    font-size: 12px;
    color: #0000008b;
    font-family: PoppinsMedium;
  }
  .Product-Name {
    font-size: 13px;
    font-family: PoppinsMedium;
  }
  .product-ID {
    font-size: 13px;
    font-family: PoppinsMedium;
    color: #787878;
  }
  .Product-price {
    font-size: 14px;
    font-family: PoppinsMedium;
    color: #787878;
  }
}
.info-container {
  background-color: white;
  height: 170px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}
.recent {
  padding: 20px;
}
.info-icn {
  position: relative;
  img {
    width: 80px;
  }
}
.info-img {
  position: absolute;
  top: 0;
  left: 0;
  img {
    width: 30px;
    transform: translate(85%, 85%);
  }
  .img {
    width: 30px;
    transform: translate(85%, 85%);
  }
}
.total {
  font-family: poppinsMedium;
  font-size: 14px;
  color: #4b5966;
}
.price {
  font-size: 20px;
  font-family: poppinsBold;
}
.chart {
  font-size: 13px;
  color: #4b5966;
  font-family: poppinsRegular;
}
.recent-order-graph {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}
.recent-header {
  font-family: poppinsSemiBold;
  font-size: 20px;
  margin-bottom: 20px;
}
.recent-Users {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
}
.recent-Users {
  padding: 20px;
  overflow: scroll !important;
  scrollbar-width: none;
}
.recent-order-head {
  font-family: poppinsSemiBold;
  font-size: 20px;
}

@media screen and (max-width: 620px) {
  .CongratulationText {
    font-size: 11px;
    width: 150px;
  }
  .congratulation-Container {
    img {
      width: 250px !important;
    }
  }
  .Section-Container {
    display: flex;
    flex-direction: column;
  }
  .Profit-Container {
    width: 100%;
  }
  .Expenses-Container {
    width: 100%;
  }
  .Earning-Reports {
    width: 100%;
  }
  .Popular-Product {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .recent-order-graph {
    padding: 10px;
  }
  .table2 {
    width: 500px;
    margin: 0;
  }
  .Stat-container {
    margin-top: 0;
  }
  .Stats-Item {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 468px) {
  table tr th {
    font-size: 12px;
  }
  table tr td {
    font-size: 12px;
  }
  table tr td img {
    width: 30px;
  }
}
