.actionIcons {
  .EyeIcn {
    background-color: rgba(0, 0, 255, 0.098) !important;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .EditIcn {
    background-color: rgba(0, 128, 0, 0.084);
    width: 50px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .DeleteIcn {
    background-color: rgba(128, 0, 0, 0.084);
    width: 50px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }
}
.modal-title {
  font-family: poppinsMedium;
}
.modal-body {
  font-family: poppinsMedium;
  font-size: 14px;
}
.paid {
  background-color: rgb(2, 159, 2);
  padding: 3px 10px;
  font-family: poppinsMedium;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 10px;
  color: white;
}
.modal-head {
  font-size: 15px;
  font-family: poppinsBold;
  text-transform: capitalize;
}
.order-details {
  font-family: poppinsMedium;
  font-size: 13px;
}
.address {
  font-family: poppinsMedium;
  font-size: 13px;
  color: #787878;
  div {
    margin-top: 10px;
  }
}
.success {
  background-color: rgba(0, 128, 0, 0.126);
  color: green;
  text-transform: capitalize;
  border-radius: 20px;
  padding: 3px 10px;
}
