:root {
  --primary-color: rgb(83, 109, 254);
  --primary-color-light: #f3f8fb;
  --primary-color-lighter: #e1eff85b;
  --text: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/fonts/PublicSans-Bold.otf);
}

@font-face {
  font-family: publicLight;
  src: url(../../assets/fonts/PublicSans-Light.otf);
}

@font-face {
  font-family: publicSemiBold;
  src: url(../../assets/fonts/PublicSans-SemiBold.otf);
}

@font-face {
  font-family: publicRegular;
  src: url(../../assets/fonts/PublicSans-Regular.otf);
}

@font-face {
  font-family: publicThin;
  src: url(../../assets/fonts/PublicSans-Thin.otf);
}

.actionIcons {
  .EyeIcn {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .EditIcn {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .DeleteIcn {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
  }
}
.master-card {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-img {
  background-color: #0000000a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 3px 0;
  img {
    width: 19px;
    height: 12px;
  }
}
.user-profile {
  color: var(--primary-color) !important;
  width: 40px;
  height: 40px;
  background-color: rgba(83, 109, 254, 0.1);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
}
.username {
  color: rgb(74 71 86);
  font-size: 14px;
  font-family: publicSemiBold;
}
.useremail {
  color: #787878;
  text-transform: lowercase !important;
  font-family: publicLight;
}
.processing {
  color: orange;
  background-color: rgba(255, 166, 0, 0.205);
  padding: 4px 10px;
  border-radius: 5px;
  width: 140px;
  text-align: center;
}
.delivered {
  color: rgb(91 212 145);
  background-color: rgba(91, 212, 145, 0.135);
  padding: 4px 10px;
  border-radius: 5px;
  width: 80px;
  text-align: center;
}
.Shipped {
  color: rgb(21 192 213);
  background-color: rgba(21, 191, 213, 0.11);
  padding: 4px 10px;
  border-radius: 5px;
  width: 140px;
  text-align: center;
}
.Shipping {
  color: rgb(126 115 241);
  background-color: rgba(125, 115, 241, 0.132);
  padding: 4px 10px;
  border-radius: 5px;
  width: 140px;
  text-align: center;
}
.cancelled {
  color: red;
  background-color: rgba(255, 0, 0, 0.132);
  padding: 4px 10px;
  border-radius: 5px;
  width: 140px;
  text-align: center;
}

.modal-title {
  font-family: publicRegular;
}
.modal-body {
  font-family: publicRegular;
  font-size: 14px;
}
.paid {
  background-color: rgb(2, 159, 2);
  padding: 3px 10px;
  font-family: publicRegular;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 9px;
  color: white;
}
.modal-head {
  font-size: 15px;
  font-family: poppinsBold;
  text-transform: capitalize;
}
.order-details {
  font-family: publicRegular;
  font-size: 13px;
}
.address {
  font-family: publicRegular;
  font-size: 13px;
  color: #787878;
  div {
    margin-top: 10px;
  }
}
.success {
  background-color: rgba(0, 128, 0, 0.126);
  color: green;
  text-transform: capitalize;
  border-radius: 20px;
  padding: 3px 10px;
}
