:root {
  --primary-color: rgb(83, 109, 254);
  --primary-color-light: #f3f8fb;
  --primary-color-lighter: #e1eff85b;
  --text: #4b5966;
}
.upload-cont {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
